#ignore config file so that no credentials are leaked
#an example config file will be still betracked
dbm-wp-management-scripts.config
#wp-config file not normally in this directory but adding ignore just incase
wp-config.php
